<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>

    <a class='panel-block'>
      trend 1
    </a>

    <a class='panel-block'>
      trend 2
    </a>

    <a class='panel-block'>
      trend 3
    </a>

    <a class='panel-block'>
      trend 4
    </a>    
  </nav>
</div>