<div class="column">
  <nav  class="panel">
    <p class="panel-heading">Who to follow</p>
 

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png"> 
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <p>
              <strong>Ironman</strong>
              <small>@ironmarvel</small>
            </p>
          </div>
        </div>
      </article>
    </div>

      <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png"> 
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <p>
              <strong>Hulk</strong>
              <small>@hulkmarvel</small>
            </p>
          </div>
        </div>
      </article>
    </div>

      <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/32x32.png"> 
          </figure>
        </div>

        <div class="media-content">
          <div class="content">
            <p>
              <strong>Thor</strong>
              <small>@thormarvel</small>
            </p>
          </div>
        </div>
      </article>
    </div>

  </nav>
</div>